.venv/

# IDE and Editor Configurations
# JetBrains IDEs (IntelliJ, PyCharm, WebStorm, etc.)
.idea/

# Visual Studio Code
.vscode/

# Cursor IDE
.cursor/
.cursor-settings/
cursor.db
.cursor-session
.trae/
.vercel/
WireFrames/automotive_chatbot/deploy/temp-images/backend.tar
WireFrames/automotive_chatbot/deploy/temp-images/frontend.tar
WireFrames/automotive_chatbot.zip
WireFrames/deploy
WireFrames/deploy/*